body {
    font-family: Arial, Helvetica, sans-serif;
}
.header1 {
    padding: 80px; 
    text-align: center; 
    background: #1abc9c; 
    color: black; 
}


.header1 h1 {
    font-size: 40px;
}
.navbar1 {
    overflow: hidden; 
    background-color: #777; 
}
.navbar1 a {
    float: left; 
    display: block; 
    color: blue; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
}
.navbar1 a.right {
    float: right; 
}
.navbar1 a:hover {
    background-color: #ddd; 
    color: black; 
}
.row1 { 
    display: flex;
    flex-wrap: wrap;
}
.side1 {
    flex: 30%; 
    background-color: #f1f1f1; 
    padding: 20px;
}
.main1 { 
    flex: 70%; 
    background-color: white; 
    padding: 20px; 
}
@media screen and (max-width: 700px) {
    .row1 { 
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .navbar1 a {
        float: none;
        width: 100%;
    }
}
.footer1 {
    padding: 20px; 
    text-align: center; 
    background: #ddd; 
    font-size: 10px
}