body {
    font-family: Arial, Helvetica, sans-serif;
}
.header1 {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header1 h1 {
    font-size: 40px;
}
.navbar1 {
    overflow: hidden; /* Hide overflow */
    background-color: #777; /* Dark background color */
}
.navbar1 a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}
.navbar1 a.right {
    float: right; /* Float a link to the right */
}
.navbar1 a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}
.row1 { 
    display: flex;
    flex-wrap: wrap;
}
.side1 {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}
.main1 { 
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}
@media screen and (max-width: 700px) {
    .row1 { 
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {
    .navbar1 a {
        float: none;
        width: 100%;
    }
}
.footer1 {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
    font-size: 10px
}